.post-container {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        margin-top: 10px; 
        text-indent: 2em; 
        line-height: 20px;
    }

    a {
        text-decoration: underline;
        margin-top: 10px;
    }
}