.post-container {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        margin-top: 10px; 
        text-indent: 2em; 
        line-height: 20px;
    }

    pre {
        display: flex;
        width: 100%;
        margin: 10px;
        code {
            font-family: monospace;
            font-size: 1rem;
            line-height: 100%;
            background-color: rgba(var(--card-rgb), 0.6);
            padding: 10px;
            letter-spacing: -0.05em;
            word-break: normal;
            border-radius: 5px;
            width: 100%;
            justify-content: center;
            display: flex;
        }
    }

    a {
        text-decoration: underline;
        margin-top: 10px;
    }
}