
html, body {
  background-color: var(--mantine-color-dark-1); /* Background */
  color: var(--mantine-color-dark-9); /* Primary text */
  font-weight: 500;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: var(--mantine-color-accent-7);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--mantine-color-accent-8);
}

a:active {
  color: var(--mantine-color-accent-6);
}

a:visited {
  color: var(--mantine-color-accent-5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  width: 100%;
}
