.grid-container {
  display: grid;
  max-width: 100%;
  width: var(--max-width);

  &.columns-3 {
    grid-template-columns: repeat(3, minmax(33%, auto));
  }

  &.columns-4 {
    grid-template-columns: repeat(4, minmax(25%, auto));
  }
}
  
@media (max-width: 700px) {
  .grid-container {
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;

    &.columns-3, &.columns-4 {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid-container {
   
    &.columns-3, &.columns-4 {
      grid-template-columns: repeat(2, 50%);;
    }
  }
}